# IDE ve editor klasörleri
**/.classpath
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode

# Proje artefact'ları
**/*.csproj.user
**/*.dbmdl
**/*.jfm
**/bin
**/obj
**/node_modules
**/npm-debug.log

# Kubernetes / Azure Dev Spaces / Helm gibi şeyler varsa
**/azds.yaml
**/charts
**/secrets.dev.yaml
**/values.dev.yaml

# Dokümantasyon
LICENSE
README.md

# Git metadata'dan bazı parçaları içeri al
!**/.gitignore
!.git/HEAD
!.git/config
!.git/packed-refs
!.git/refs/heads/**
