/* commonGroups.css */
.groups-wrapper {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    font-family: Tahoma, sans-serif;
    font-size: 11px;
    gap: 8px;
}

.groups-bar {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    gap: 3px;
    font-family: Tahoma, sans-serif;
    font-size: 11px;
}
.group-item {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    font-size: 14px; /* eskisi 11px ise 14px yap */
}

.group-toggle {
    font-weight: bold;
    font-size: 12px;
    margin-right: 2px;
}

.group-user-item {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 8px 0;
}

.group-nickname {
    font-family: Tahoma, sans-serif;
    font-size: 11px;
}

.small-avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
}
