.settings-dropdown {
    position: relative;
}

.settings-btn {
    background-color: #007bff; /* bar rengi */
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.2s ease;
}

.settings-btn:hover {
    background-color: #0056b3; /* hover efekti */
}


.settings-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background: white;
    color: black;
    border: 1px solid #ccc;
    min-width: 120px;
    z-index: 9999;
}

.settings-dropdown.open .settings-menu {
    display: block;
}

.menu-item {
    padding: 8px 12px;
    cursor: pointer;
}

    .menu-item:hover {
        background: #f0f0f0;
    }
